$mainblue: #1c77f1;
$mainbluehover: #1364ce;
$bluelight: #ecf1fd;


$backgroundwhite: #ffffff;
$mainwhite: #fefefd;
$darkwhite: #dddee9;
$whitehover: #d4d4dc;

$gray: #667187;
$gralight: #dcdfe9;


$navybluedark: #131d2c;
$navybluelittlelight: #19253a;
$navybluelight: #1f2a44;
$navybluehover: #19273b;